 <header><%= render 'shared/header' %></header>

<div class="row">
  <div class="col-md-6">
    <h1>Roberto</h1>

    <p>Roberto, originally from Laredo, Texas, attended the University of Texas in Austin where he completed his B.F.A. in Studio Fine Arts. Roberto mentored under Professor Charles Umlauf, and the two kept a close relationship until the latter's death. Upon graduation, Roberto relocated to Princeton, New Jersey where he attended the Johnson Atelier Technical Institute of Sculpture. In 1985, Roberto built his first bronze casting foundry in Kingsville, Texas.</p>

    <p>In 1997, Roberto moved to Pagosa Springs, Colorado where he and his wife, Ana, built their second home and foundry. Still residing in Pagosa Springs, Roberto is engaged as a full-time sculptor and painter.</p>

    <p>He believes strongly that the best of art comes from a person's soul and imagination. To him, art is a discipline that requires practice, dedication, and patience in order to become skilled. Roberto believes in creating art for the sake of art, and as a form of expression that fulfills the creative desire unique and present in every individual. Every new work is a lesson and a step towards creating the next one. All of Roberto's work is done by the artist himself, including all apects of bronze casting.</p>

    <%= image_tag('roberto_garcia.jpg', width: '100') %>
  </div>


  <div class="col-md-6">
    <h1>Baby</h1>

    <p>The youngest of three children, Ana was born in Detroit, Michigan and later moved with her family to Laredo, Texas. She adoptd the artist name of "Baby", a longtime family nickname.</p>

    <p>Ana began painting at age twelve, and continues to this day, adapting skills used in traditional painting to a digital medium. Ana studied Fine Arts at Texas A&M in Kingsville, Texas. Her additional study in Industrial Arts provided her with skills to work with other mediums, such as woodwork and photography.</p>

    <p>Ana presently resides in Pagosa Springs, Colorado where she spends much of her time in the bronze casting foundry built by her and Roberto in 1996.While the majority of her work has been influenced by wildlife, she has recently begun work with bronze portraitures. New technology has allowed her to take her painting to a new level and she experiments often with digital art.</p>

    <p>Ana has participated in numerous art shows and has had her work shown in multiple galleries, both her own and others. Presently she is accepting commissions for bronze portraitures.</p>

    <%= image_tag('ana_garcia', width: '100') %>
  </div>
</div>

<footer><%= render 'shared/footer' %></footer>

