 <header><%= render 'shared/header' %></header>

<h2>Commissions</h2>

<p>Roberto and Ana frequently take commissioned work. Roberto has completed 10 life-size or near lifesize works of historical and religious figures.</p>

<p>Ana has competed several portraiture commissions, as well as assiting Roberto with large commissions.</p>

<p>If you are interested in a commissioned work, please see our Contact Page.</p>

<footer><%= render 'shared/footer' %></footer>

