
<h2>Commissions</h2>

<p class="body_text">Roberto and Ana frequently take commissioned work. Roberto has completed 10 life-size or near lifesize works of historical and religious figures.</p>

<p class="body_text">Ana has competed several portraiture commissions, and most recently has begun creating digital portraits of pets.</p>

<p class="body_text">If you are interested in a commissioned work, please see our <%= link_to " Contact Page.", contact_path %></p>


