
<h2>Contact Information</h2>

<ul class="body_text">
  <li><h4>Phone: 303-945-9443</h4></li>
  <li><%= mail_to "babyg4dmail@gmail.com", "Email: Click Here" %></li>
  <li><h4>Foundry Location: Pagosa Springs, CO</h4></li>
</ul>

