
<div class="row">
  <% @roberto_bronze.each do |bronze| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to image_tag(bronze.image, size: '400x250', class: "thumbnail"), image_path(bronze.image), title: bronze.name, class: "popup" %>    </div>
  <% end %>
</div>
