<ul class="nav nav-pills">
  <li><%= link_to "Bronze", ana_bronze_path %></li>
  <li><%= link_to "Portraits", ana_portraits_path %></li>
  <li><%= link_to "Paintings", ana_paintings_path %></li>
</ul>
