
  <div class="row">
    <% @ana_bronze.each do |bronze| %>
     <div class="col-xs-6 col-md-3">
<<<<<<< HEAD
       <%= link_to image_tag(bronze.image, size: '400x250', class: "thumbnail"), image_path(bronze.image), title: bronze.name, class: "popup" %>
=======
       <%= link_to image_tag(bronze.image, size: '400x250', class: "thumbnail"), image_path(bronze.image), class: "popup" %>
>>>>>>> c5fc97f0826848d9b729414d23bef5cfed47e3e3
      </div>
    <% end %>
  </div>


