<!DOCTYPE html>
<html>
<head>
  <title>Artwork of Roberto and Ana</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>

</head>
<body>

  <div class='container-fluid'>
    <%= yield %>
  </div>

<br>
<br>

</body>

</html>
